<form class = "content"  [formGroup] = "techForm" (ngSubmit)="onFindAll(techForm.value)">
  <div>
    <input formControlName=technology placeholder="Technology To Search For">
    <br>
    <button (click)="onFindAll()"> Find Tech</button>
  </div>
</form>

<p-dataTable [value]="tech">
  <p-column field="firstName" header="First Name"></p-column>
  <p-column field="lastName" header="Last Name"></p-column>
  <p-column field="eId" header="EId"></p-column>
  <p-column field="tech" header="Tech"></p-column>
</p-dataTable>
