<div>
  <form class = "container" [formGroup] = "loginForm" (ngSubmit)="onRegister(loginForm.value);loginForm.reset()">
    <div>
      <h2>Please Login</h2>

      <input formControlName=firstName placeholder="First Name">
      <div *ngIf="!loginForm.controls['eID'].valid && loginForm.controls['eID'].dirty">
        <span *ngIf="loginForm.controls['eID'].errors['required']" style="color: red;">eID is required</span>
      </div>
      <br>
      <input formControlName=lastName placeholder="Last Name">
      <div *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].dirty">
        <span *ngIf="loginForm.controls['password'].errors['required']" style="color: red;">Password is required
          .</span>
      </div>
      <br>
      <button pButton label="Login" (click)="onLogin()" [disabled]="!loginForm.valid"
              class="ui-button-success"></button>
    </div>
  </form>
</div>
