<div>
  <form class = "container" [formGroup] = "userForm" (ngSubmit)="onRegister(userForm.value);userForm.reset()">
    <div>
      <h2>Enter form below to register yourself!</h2>

      <input formControlName=firstName placeholder="First Name">
        <div *ngIf="!userForm.controls['firstName'].valid && userForm.controls['firstName'].dirty">
        <span *ngIf="userForm.controls['firstName'].errors['required']" style="color: red;">First Name is required</span>
        </div>
      <br>
      <input formControlName=lastName placeholder="Last Name">
      <div *ngIf="!userForm.controls['lastName'].valid && userForm.controls['lastName'].dirty">
        <span *ngIf="userForm.controls['lastName'].errors['required']" style="color: red;">Last Name is required
          .</span>
      </div>
      <br>
      <input formControlName=eId placeholder="EID">
      <div *ngIf="!userForm.controls['eId'].valid && userForm.controls['eId'].dirty">
        <span *ngIf="userForm.controls['eId'].errors['required']" style="color: red;">EID is required
          .</span>
      </div>
      <br>
      <input formControlName=tech placeholder="Technology">
      <div *ngIf="!userForm.controls['tech'].valid && userForm.controls['tech'].dirty">
        <span *ngIf="userForm.controls['tech'].errors['required']" style="color: red;">Technology is required
          </span>
      </div>
      <br>
      <br>
          <button pButton label="Register" (click)="onRegister()" [disabled]="!userForm.valid" class="ui-button-success"></button>
    </div>
  </form>
</div>

